<!--Mobile Issue with header turning blue on shrinking page-->

<!DOCTYPE html>
<html>
    <head class="is-mobile">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" id="bulma" href="static/Bulma.css" />
{#      <link rel="stylesheet" type="text/css" href="static/gamecss.css">#}
      <link rel="stylesheet" type="text/css" href="static/twitter-2.css">



    </head>

    <!--<video id="video-background" autoplay="" loop="" muted="" poster="/Users/ryan.erickson/PycharmProjects/-->
    <!--Full-Stack/Twitter_App/images/TrumpIMG.jpg">-->
        <!--&lt;!&ndash;<source src="https://s3.amazonaws.com/distill-videos/videos/processed/2180/lighthouse.mp4" type="video/mp4">&ndash;&gt;-->
        <!--<source src="" type="video/mp4">-->
    <!--</video>-->

        <section class="hero is-primary is-medium header-image background={{ image }}">
            <div class="hero-head">

              <header class="nav">
                <div class="container">
                  <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                    <div class="nav-left nav-menu">
                        <h1 class="nav-item is-active is-6" id="Header">
                            Political Hangman
                        </h1>
                    </div>
                  <div class="nav-right nav-menu">
                    <a class="nav-item is-active" href="{{url_for('About') }}">
                      About
                    </a>
                  </div>
                </div>
              </header>

        <body>

          <section class="hero is-fullheight is-default is-bold" style="background-color: transparent" >
            <div class="hero-body" style="background-color: transparent">
              <div class="container has-text-centered" style="background-color: transparent">
                <div class="columns is-vcentered">
                  <div class="column is-5">
                      <div class="block">
                        <div class="box" id="guessblock" style="background: rgba(255,255,255,0.3);">
                        <figure class=" is-4by3">
                            <h1 style="color: white">{{guess_head}}</h1>
                            <pre id="pretag" style="color: white; font-family: ">{{guess_phrase}}</pre>
                        </figure>
                        </div>
                      </div>
                  </div>
                  <div class="column is-6 is-offset-1">
                    <h1 class="title is-2">
                      Remaining Characters
                    </h1>
                        <p>{{remaining_letters}}</p>
                      <br>
                    <p class="has-text-centered">
                      <form id="form" role="form" action="" method="POST">
                    <div class="form-group">
                        <label form="title">Letter Choice</label>
                        <input type="text" name="Char_Choice">
                        <input type="submit">
                    </div>
                </form>
                <h2><strong style="color: white">{{message_line}}</strong></h2>
                <h3>You have {{turns}} turns remaining</h3>
                    </p>
                  </div>
                </div>
              </div>
            </div>
           </section>

        <!--<section class="hero is-primary header-image">-->
            <!--<div class="hero-head">-->

              <!--<header class="nav">-->
                <!--<div class="container">-->
                  <!--<span class="nav-toggle">-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                  <!--</span>-->
                    <!--<div class="nav-center nav-menu">-->
                        <!--<h1>Remaining Characters  :</h1>-->
                        <!--<p>{{remaining_letters}}</p>-->

                    <!--</div>-->

                <!--</div>-->
                                      <!--<div class="nav-center nav-menu">-->
                  <!--<form id="form" role="form" action="" method="POST">-->
                    <!--<div class="form-group">-->
                        <!--<label form="title">Letter Choice</label>-->
                        <!--<input type="text" name="Char_Choice">-->
                        <!--<input type="submit">-->
                    <!--</div>-->
                <!--</form>-->
                <!--<h2><strong>{{message_line}}</strong></h2>-->
                                      <!--</div>-->
              <!--</header>-->

                <!--</div>-->

    <!--<div class="hero-body">-->
      <!--<div class="container">-->
          <!--<div class="block">-->
              <!--<div class="box" style="background-color: transparent;border: #09b4ff">-->
        <!--&lt;!&ndash;<div class="column is-6 is-offset-3">&ndash;&gt;-->
            <!--<h1>{{guess_head}}</h1>-->
            <!--<h3>You have {{turns}} turns remaining</h3>-->
            <!--<pre id="pretag">{{guess_phrase}}</pre>-->
              <!--</div>-->
          <!--</div>-->

    <!--</div>-->


        <!--</section>-->

         <!--<section class="container">-->
             <!---->
             <!--<form id="form" role="form" action="" method="POST">-->
                    <!--<div class="form-group">-->
                        <!--<label form="title">Letter Choice</label>-->
                        <!--<input type="text" name="Char_Choice">-->
                        <!--<input type="submit">-->
                    <!--</div>-->
                <!--</form>-->
                <!--<h2><strong>{{message_line}}</strong></h2>-->
                <!--<h3>You have {{turns}} turns remaining</h3>-->

         <!--</section>-->




        </body>

        <section>
          <footer class="footer" style="color: gray">
            <div class="container">
              <div class="content has-text-centered">
                <p>
                   By <a href="https://www.linkedin.com/in/ryan-erickson-b7ab3948/"><i class="fa fa-linkedin"
                   aria-hidden="true"></i> Ryan Erickson</a>. Developed using Python 3, Flask, and Bulma.
                </p>
                <p>
                  <a class="icon" href="https://github.com/RyanErickson74">
                    <i class="fa fa-github"></i>
                  </a>
                </p>
              </div>
            </div>
          </footer>
        </section>

        </body>
</html>
