<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">
    <link href="static/css/politician.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Political Hangman</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
{#            <li class="nav-item">#}
{#              <a class="nav-link js-scroll-trigger" href="{{url_for('About') }}">About</a>#}
{#            </li>#}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://github.com/RyanErickson74">Git Hub</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header id="politician" class="masthead">
{#      <div class="header-content">#}
{#        <div class="header-content-inner">#}
{#          <p>"Wise men speak because they have something to say, fools because they have to say something" </p>#}
{#          <p>Plato</p>#}
{#        </div>#}
{#      </div>#}
        <section id="services" style="background-color: transparent">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" style="text-shadow: black 0px 0px 5px"">Choose your Politician from the lists below</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-university text-primary sr-icons"></i>
              <h3 style="text-shadow: black 0px 0px 5px"">Executive</h3>
                  <form id="form1" role="form" action="" method="POST">
                        <div class="form-group">
                        <p class="control">
                            <span class="select">
                                <select style="width: 220px" name="polititian" onchange="this.form.submit()">
                                  <option class="is-unselectable">Select dropdown</option>
                                    <option value="Donald Trump">President - Donald Trump<strong</option>
                                    <option value="Mike Pence">Vice President - Mike Pence</option>
                                    <optgroup label="-CABINET-"></optgroup>
                                    <option value="Rex Tillerson">Secretary of State - Rex Tillerson</option>
                                    <option value="Steven T. Mnuchin">Secretary of the Treasury - Steven T. Munchin
                                    </option>
                                   <!--NO twitter <option value="James Mattis">Secretary of Defense - James Mattis</option>-->
                                    <option value="Jeff Sessions">Attorney General - Jeff Sessions</option>
                                    <option value="Ryan Zinke">Secretary of the Interior - Ryan Zinke</option>
                                    <option value="Sonny Perdue">Secretary of Agriculture - Sonny Perdue</option>
                                    <option value="Wilbur L. Ross, Jr.">
                                        Secretary of Commerce - Wilbur L. Ross, Jr.</option>
                                    <option value="Alexander Acosta">Secretary of Labor - Alexander Acosta</option>
                                    <option value="Benjamin S. Carson, Sr.">
                                        Secretary of H.U.D - Benjamin S. Carson, Sr.</option>
                                    <option value="Elaine L. Chao">Secretary of Transportation - Elaine L. Chao</option>
                                    <option value="James Richard Perry">
                                        Secretary of Energy - James Richard Perry</option>
                                    <option value="Elisabeth Prince DeVos">
                                        Secretary of Education - Elisabeth Prince DeVos</option>
                                    <option value="David J. Shulkin">
                                        Secretary of Veterans Affairs - David J. Shulkin</option>
                                    No twitter <option value="Elaine Duke">
                                        Acting Secretary of Homeland Security - Elaine Duke</option>
                                    No twitter<option value="Don J. Wright">
                                        Acting Secretary of Health and Human Services - Don J. Wright</option>
                                    <option value="John F. Kelly">White House Chief of Staff - John F. Kelly</option>
                                    No twitter<option value="Robert Lighthizer">
                                        U.S. Trade Representative - Robert Lighthizer</option>
                                    <option value="Daniel Coats">
                                        Director of National Intelligence - Daniel Coats</option>
                                    <!--<option value="Nikki R. Haley">-->
                                        <!--Representative of the U.S. to the U.N - Nikki R. Haley</option>-->
                                    <!--<option value="Mich Mulvaney">-->
                                        <!--Director of the Office of Management and Budget - Mich Mulvaney</option>-->
                                    <!--<option value="Mike Pompeo">Director of the C.I.A. - Mike Pompeo</option>-->
                                    <!--<option value="Scott Pruitt">Administrator of the E.P.A. - Scott Pruitt</option>-->
                                    <!--<option value="Linda E. McMahon">Administrator of the Small Business Administration - Linda E. McMahon</option>-->
                                </select>
{#                                <input type="submit" name="polititian">#}
                            </span>
                        </p>
                    </div>
                   </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-handshake-o text-primary sr-icons"></i>
              <h3 style="text-shadow: black 0px 0px 5px">Senate</h3>
             <form id="form2" role="form" action="" method="POST">
                        <div class="form-group">
                        <p class="control">
                            <span class="select">
                                <select style="width: 220px" name="polititian" onchange="this.form.submit()">
                                    <option class="is-unselectable">Select dropdown</option>
                                    <option value="Richard Shelby">AL: R - Richard Shelby</option>
                                    <option value="Luther Strange">AL: R - Luther Strange</option>
                                    <option value="Lisa Murkowski">AK: R - Lisa Murkowski</option>
                                    <option value="Dan Sullivan">AK: R - San Sullivan</option>
                                    <option value="John McCain">AZ: R - John McCain</option>
                                    <option value="Jeff Flake">AZ: R - Jeff Flake</option>
                                    <option value="John Boozman">AR: R - John Boozman</option>
                                    <!--<option value="Tom Cotton">AR: R - Tom Cotton</option>-->
                                    <!--<option value="Dienne Feinstein">CA: D - Dienne Feinstein</option>-->
                                    <!--<option value="Kamala Harris">CA: D - Kamala Harris</option>-->
                                    <!--<option value="Michael Bennet">CO: D - Michael Bennet</option>-->
                                    <!--<option value="Cory Gardner">CO: R - Cory Gardner</option>-->
                                    <!--<option value="Richard Blumenthal">CT: D - Richard Blumentahl</option>-->
                                    <!--<option value="Chris Murphy">CT: D - Chris Murphey</option>-->
                                    <!--<option value="Tom Carper">DE: D - Tom Carper</option>-->
                                    <!--<option value="Chris Coons">DE: D - Chris Coons</option>-->
                                    <!--<option value="Bill Nelson">FL: D - Bill Nelson</option>-->
                                    <!--<option value="Marco Rubio">FL: R - Marco Rubio</option>-->
                                    <!--<option value="Johnny Isakson">GA: R - Johnny Isakson</option>-->
                                    <!--<option value="David Perdue">GA: R - David Perdue</option>-->
                                    <!--<option value="Brain Schatz">HI: D - Brain Schatz</option>-->
                                    <!--<option value="Mazie Hirono">HI: D - Mazie Hirono</option>-->
                                    <!--<option value="Mike Crapo">ID: R - Mike Crapo</option>-->
                                    <!--<option value="Jim Risch">ID: R - Jim Risch</option>-->
                                    <!--<option value="Dick Durbin">IL: D - Dick Durbin</option>-->
                                    <!--<option value="Tammy Duckworth">IL: D - Tammy Duckworth</option>-->
                                    <!--<option value="Joe Donnelly">IN: D - Joe Donnely</option>-->
                                    <!--<option value="Todd Young">IN: R - Todd Young</option>-->
                                    <!--<option value="Chuck Grassley">IA: R - Chuch Grassley</option>-->
                                    <!--<option value="Joni Ernst">IA: R - Joni Ernst</option>-->
                                    <!--<option value="Pat Roberts">KS: R - Pat Roberts</option>-->
                                    <!--<option value="Jerry Moran">KS: R - Jerry Moran</option>-->
                                    <!--<option value="Mithc McConnell">KY: R - Mitch McConnell</option>-->
                                    <!--<option value="Rand Paul">KY: R - Rand Paul</option>-->
                                    <!--<option value="Bill Cassidy">LA: R - Bill Cassidy</option>-->
                                    <!--<option value="John N. Kennedy">LA: R - John N. Kennedy</option>-->
                                    <!--<option value="Susan Collins">ME: R - Susan Collins</option>-->
                                    <!--<option value="Angus King">ME: I - Angus King</option>-->
                                    <!--<option value="Ben Cardin">MD: D - Ben Cardin</option>-->
                                    <!--<option value="Chris Van Hollen">MD: D - Chris Van Hollen</option>-->
                                    <!--<option value="Elizabeth Warren">MA: D - Elizabeth Warren</option>-->
                                    <!--<option value="Ed Markey">MA: D - Ed Markey</option>-->
                                    <!--<option value="Debbie Stabenow">MI: D - Debbie Stabenow</option>-->
                                    <!--<option value="Gary Peters">MI: D - Gary Peters</option>-->
                                    <!--<option value="Amy Klobuchar">MN: D - Amy Klubuchar</option>-->
                                    <!--<option value="Al Franken">MN: D - Al Franken</option>-->
                                    <!--<option value="Thad Cochran">MS: R - Thad Cochran</option>-->
                                    <!--<option value="Roger Wicker">MS: R - Roger Wicker</option>-->
                                    <!--<option value="Claire McCaskill">MO: D - Claire McCaskill</option>-->
                                    <!--<option value="Roy Blunt">MO: R - Roy Blunt</option>-->
                                    <!--<option value="Jon Tester">MT: D - Jon Tester</option>-->
                                    <!--<option value="Steve Daines">MT: R - Steve Daines</option>-->
                                    <!--<option value="Deb Fischer">NE: R - Deb Fischer</option>-->
                                    <!--<option value="Ben Sasse">NE: R - Ben Sasse</option>-->
                                    <!--<option value="Dean Heller">NV: R - Dean Heller</option>-->
                                    <!--<option value="Catherine Cortez Masto">NV: D - Catherine Cortez Masto</option>-->
                                    <!--<option value="Jeanne Shaheen">NH: D - Jeanne Shaheen</option>-->
                                    <!--<option value="Maggie Hassan">NH: D - Maggie Hassan</option>-->
                                    <!--<option value="Bob Menendez">NJ: D - Bob Menendez</option>-->
                                    <!--<option value="Cory Booker">NJ: D - Cory Booker</option>-->
                                    <!--<option value="Tom Udall">NM: D - Tom Udall</option>-->
                                    <!--<option value="Martin Heinrich">NM: D - Martin Heinrich</option>-->
                                    <!--<option value="Chuck Schumer">NY: D - Chuck Schumer</option>-->
                                    <!--<option value="Kirsten Gillibrand">NY: D - Kirsten Gillibrand</option>-->
                                    <!--<option value="Richard Burr">NC: R - Richard Burr</option>-->
                                    <!--<option value="Thom Tillis">NC: R - Thom Tillis</option>-->
                                    <!--<option value="John Hoeven">ND: R - John Hoeven</option>-->
                                    <!--<option value="Heidi Heitkamp">ND: D - Heidi Heitkamp</option>-->
                                    <!--<option value="Sherrod Brown">OH: D - Sherrod Brown</option>-->
                                    <!--<option value="Rob Portman">OH: R - Rob Portman</option>-->
                                    <!--<option value="Jim Inhofe">OK: R - Jim Inhofe</option>-->
                                    <!--<option value="James Lankford">OK: R - James Lankford</option>-->
                                    <!--<option value="Ron Wyden">OR: D - Ron Wyden</option>-->
                                    <!--<option value="Jeff Merkley">OR: D - Jeff Merkley</option>-->
                                    <!--<option value="Bob Casey Jr.">PA: D - Bob Casey Jr.</option>-->
                                    <!--<option value="Pat Toomey">PA: R - Pat Toomey</option>-->
                                    <!--<option value="Jack Reed">RI: D - Jack Reed</option>-->
                                    <!--<option value="Sheldon Whitehouse">RI: D - Sheldon Whitehouse</option>-->
                                    <!--<option value="Lindsey Graham">SC: R - Lindsey Graham</option>-->
                                    <!--<option value="Tim Scott">SC: R - Tim Schott</option>-->
                                    <!--<option value="John Thune">SD: R - John Thune</option>-->
                                    <!--<option value="Mike Rounds">SD: R - Mike Rounds</option>-->
                                    <!--<option value="Lamar Alexander">TN: R - Lamar Alexander</option>-->
                                    <!--<option value="Bob Corker">TN: R - Bob Corker</option>-->
                                    <!--<option value="John Cornyn">TX: R - John Cornyn</option>-->
                                    <!--<option value="Ted Cruz">TX: R - Ted Cruz</option>-->
                                    <!--<option value="Orrin Hatch">UT: R - Orrin Hatch</option>-->
                                    <!--<option value="Mike Lee">UT: R - Mike Lee</option>-->
                                    <!--<option value="Patrick Leahy">VT: D - Patrick Leahy</option>-->
                                    <option value="Bernie Sanders">VT: I - Bernie Sanders</option>
                                    <!--<option value="Mark Warner">VA: D - Mark Warner</option>-->
                                    <!--<option value="Tim Kaine">VA: D - Tim Kaine</option>-->
                                    <!--<option value="Patty Murray">WA: D - Patty Murray</option>-->
                                    <!--<option value="Maria Cantwell">WA: D - Maria Cantwell</option>-->
                                    <!--<option value="Joe Manchin">WV: D - Joe Manchin</option>-->
                                    <!--<option value="Shelley Moore Capito">WV: R - Shelley Moore Capito</option>-->
                                    <!--<option value="Ron Johnson">WI: R - Ron Johnson</option>-->
                                    <!--<option value="Tammy Baldwin">WI: D - Tammy Baldwin</option>-->
                                    <!--<option value="Mike Enzi">WY: R - Mike Enzi</option>-->
                                    <!--<option value="John Barrasso">WY: R - John Barrasso</option>-->
                                </select>
{#                                <input type="submit" name="polititian">#}
                            </span>
                        </p>
                      </button>
                    </div>
                   </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-home text-primary sr-icons"></i>
              <h3 style="text-shadow: black 0px 0px 5px">House</h3>
             <form id="forms" role="form" action="" method="POST">
                        <div class="form-group">
                        <p class="control">
                            <span class="select">
                                <select style="width: 220px" name="polititian" onchange="this.form.submit()">
                                    <option class="is-unselectable">Select dropdown</option>
                                    <option value="Bradley Byrne">Al: R - Bradley Byrne</option>
                                    <option value="Martha Roby">AL: R - Martha Roby</option>
                                    <option value="Mike Rogers">AL: R - Mike Rogers</option>
                                    <option value="Robery Aderholt">AL: R - Robery Aderholt</option>
                                    <option value="Mo Brooks">AL: R - Mo Brooks</option>
                                    <option value="Gary Palmer">AL: D - Gary Palmer</option>
                                    <option value="Terri A. Sewell">AL: D - Terri A. Sewell</option>
                                    <option value="Don Young">AK: R - Don Young</option>

                                    <option value=""></option>

                                </select>
{#                                <input type="submit" name="polititian">#}
                            </span>
                        </p>
                    </div>
                   </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    </header>





    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Enjoy!</h2>
            <hr class="primary">
            <p>Developed using Python 3, Flask, Bootstrap, Twitter API, and served on Heroku.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-linkedin fa-3x sr-contact"></i>
              <p>
              <a href="https://www.linkedin.com/in/ryan-erickson-b7ab3948/">Ryan Erickson</a>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@politicalhangman@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.min.js"></script>

  </body>

</html>
