<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" id="bulma" href="static/Bulma.css" />
  <link rel="stylesheet" type="text/css" href="static/twitter-2.css">


</head>
<body>

  <section class="hero is-primary is-medium header-image">
            <div class="hero-head">

              <header class="nav">
                <div class="container">
                  <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                    <div class="nav-left nav-menu">
                        <h1 class="nav-item is-active is-6" id="Header">
                            Political Hangman
                        </h1>
                    </div>
                </div>
              </header>

    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            You lose!
          </h1>

          <div class="block">
              <div class="content">
            <a href="/" class="button is-info is-large">Play Again</a>
            <a href="https://www.google.com/" class="button is-info is-large">Exit</a>
            </div>
          </div>
        </div>
          <p>{{phrase}}</p>
      </div>
    </div>

  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>